.jaff-nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    width: 100%;
    z-index: 99;
    padding: 10px;
}

.jaff-nav .jaff-nav-brand {    
    display: flex;
    justify-content: center;
    width: 160px;
    height: 80px;
}

.jaff-nav .jaff-nav-brand img{
    max-width: 100%;
    max-height: 100%;
}

.jaff-nav .jaff-nav-item {
    display: inline-block;
}

.jaff-nav .jaff-nav-item a {
    display: block;
    text-decoration: none;
    color: #919191;
    padding: 20px;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
}


.jaff-nav .jaff-nav-item a:hover,
.jaff-nav .jaff-nav-item a:focus,
.jaff-nav .jaff-nav-item a:visited,
.jaff-nav .jaff-nav-item a.active {
    color: #fff;
    border-bottom: 2px solid #ffffff;
}